.advantages {
  background-color: $color-ghost-white;

  &--padding {
    padding: 108px 0 129px;

    @include vp-1199 {
      padding: 91px 0 100px;
    }
  }

  h2 {
    @include reset-style;

    font-family: $ff-sans-mini;
    font-size: 54px;
    line-height: 64.8px;
    text-align: center;
    margin-bottom: 55px;

    @include vp-1199 {
      font-size: 42px;
      letter-spacing: 1.26px;
      line-height: 50.4px;
      margin-bottom: 50px;
    }
  }
}

.advantages__list {
  @include reset-list;
  display: grid;
  grid-template-areas: "square simulators parking"
  "comfort simulators trainer";
  gap: 0 60px;

  @include vp-1199 {
    grid-template-areas: "square parking"
  "simulators simulators"
  "comfort trainer";
  gap: 50px 59px;
  }
}

.advantages__item {
  display: flex;

  &--square {
    grid-area: square;
    border-bottom: 2px solid  rgba(209, 10, 66, 0.20);

    @include vp-1199 {
      border: none;
    }
  }

  &--simulators {
    grid-area: simulators;
    background-color: $color-resolution-blue;
    color: $color-default-white;
    flex-direction: column;
    align-items: center;
    padding: 66px 34px 65px;

    @include vp-1199 {
      width: 58%;
      justify-self: center;
      padding: 45px;
    }
  }

  &--parking {
    grid-area: parking;
    border-bottom: 2px solid  rgba(209, 10, 66, 0.20);

    @include vp-1199 {
      border: none;
    }
  }

  &--comfort {
    grid-area: comfort;
    align-items: flex-end;
  }

  &--trainer {
    grid-area: trainer;
    align-items: flex-end;
  }
}

.advantages__number {
  margin-right: 30px;

  p {
    @include reset-style;

    font-size: 71px;
    font-weight: 700;
    line-height: 69px;
    background-image: linear-gradient(143deg, $color-crimson 0%, $color-cobalt 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;

    @include vp-1199 {
      font-size: 58px;
      line-height: 59px;
      margin-bottom: 0;
    }
  }

  span {
    color: $color-persian-blue;

    @include vp-1199 {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.advantages__text {
  h3 {
    @include reset-style;

    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  p {
    @include reset-style;
  }
}

.advantages__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  p {
    @include reset-style;

    font-size: 74px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 15px;

    @include vp-1199 {
      margin-bottom: 20px;
    }
  }

  span {
    @include reset-style;

    font-size: 26px;
    font-weight: 700;
    line-height: 39px;

    @include vp-1199 {
      font-size: 22px;
    }
  }
}

.advantages__quantity-text {
  p {
    @include reset-style;

    text-align: center;
    width: 172px;
  }
}
