.btn {
  display: inline-flex;
  justify-content: center;
  padding: 18px 20px;
  width: 260px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;

  color: inherit;

  background-color: inherit;
  border: none;
  outline: 2px solid $color-sapphire;
  outline-offset: -2px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--hero {
    width: 233px;
    padding: 19px 20px;
    outline: 4px solid $color-default-white;
    text-transform: uppercase;

    @include hover-focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
      outline: none;
    }

    @include active {
      color: $color-sapphire;
      background-color: $color-default-white;
    }

    &:disabled {
      opacity: 0.5;
    }

    @include vp-1199 {
      width: 185px;
    }

    @include vp-767 {
      width: 100%;
      padding: 23px 20px;
      line-height: 9px;
    }
  }

  &--competition {
    width: 100%;
    text-transform: uppercase;
    outline: 4px solid $color-default-white;
    padding: 25px 20px;
    max-width: 343px;

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    @include active {
      background-color: $color-default-white;
      color: $color-sapphire;
    }

    &:disabled {
      opacity: 0.3;
    }

    @include vp-1199 {
      font-size: 10px;
      padding: 13px 20px;
      letter-spacing: 0.5px;
      border: 1px solid $color-default-white;
      max-width: 202px;
    }

    @include vp-767 {
      max-width: none;
      width: 100%;
    }
  }

  &--aquamarine {
    position: relative;
    width: 42px;
    height: 42px;
    outline: 1px solid $color-resolution-blue;
    border-radius: 50%;
    top: -7px;

    @include hover-focus {
      background-color: $color-sapphire;
      border-color: $color-sapphire;

      &::after,
      &::before {
        background-color: $color-default-white;
      }
    }

    .faq__content-item.is-active & {
      background-color: $color-sapphire;
      border-color: $color-sapphire;

      &::after {
        background-color: $color-default-white;
      }

      &::before {
        display: none;
      }
    }

    &::after,
    &::before {
      @include font-reset;

      position: absolute;
      display: block;
      content: "";
      width: 18px;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      background-color: $color-resolution-blue;
    }

    &::before {
      left: 28%;
      transform: rotate(90deg);
    }

    @include vp-767 {
      width: 32px;
      height: 32px;
      top: 12px;
      padding: 14px;

      &::after,
      &::before {
        width: 12px;
        height: 1px;
      }

      &::before {
        left: 31%;
      }
    }
  }

  &--faq {
    outline: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    border: 1px solid rgba(16, 38, 84, 0.2);

    @include vp-1199 {
      width: 162px;
    }

    @include vp-767 {
      font-size: 16px;
      width: 141px;
      padding: 14px;
    }

    @include hover-focus {
      border-color: $color-sapphire;
    }

    &.is-active {
      border-color: inherit;
      color: $color-default-white;
      background: linear-gradient(151deg, $color-torch-red 0%, $color-cobalt 100%);
    }
  }

  &--form {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    width: 100%;
    padding: 17px;
    outline: 3px solid $color-default-white;

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    @include active {
      background-color: $color-default-white;
      color: $color-sapphire;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
