.competition {
  &--position {
    margin-bottom: 106px;

    @include vp-1199 {
      margin-bottom: 100px;
    }

    @include vp-767 {
      margin-bottom: 58px;
    }
  }
}

.competition__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.competition__time {
  display: grid;
  grid-template-areas: "title time"
    "row row";
  gap: 29px 50px;
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 82px 79px 78px 77px;

  @include vp-1199 {
    padding: 43px 45px;
    gap: 0 29px;
    min-height: 292px;
  }

  @include vp-767 {
    padding-bottom: 47px;
  }
}

.competition__row {
  grid-area: row;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    @include reset-style;

    font-size: 18px;
    align-self: self-start;
    max-width: 300px;
    margin-bottom: 47px;

    @include vp-1199 {
      max-width: 190px;
      margin-top: -6px;
      font-size: 12px;
      margin-bottom: 28px;
    }

    @include vp-767 {
      margin-top: 2px;
    }
  }
}

.competition__title {
  @include reset-style;

  grid-area: title;
  align-self: center;
  font-family: $ff-sans-mini;
  font-size: 82px;
  line-height: 78.72px;
  letter-spacing: 2.46px;
  width: 201px;
  text-transform: uppercase;
  text-align: center;

  @include vp-1199 {
    width: 117px;
    letter-spacing: 1.44px;
    font-size: 48px;
    line-height: 46.08px;
  }
}

.competition__date-wrapper {
  grid-area: time;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include vp-1199 {
    gap: 8px;
    padding-top: 7px;
  }
}

.competition__date {
  h3 {
    @include reset-style;

    position: relative;
    font-size: 18px;
    margin-bottom: 6px;

    @include vp-1199 {
      font-size: 12px;
      margin-bottom: 6px;
      line-height: 9px;
    }
  }

  p {
    @include reset-style;

    font-weight: 700;
    font-size: 40px;
    border-top: 1px solid $color-default-white;
    padding-top: 12px;

    @include vp-1199 {
      font-size: 24px;
      padding-top: 5px;
    }
  }

  span {
    position: absolute;
    width: 37px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 7px;
    top: 6px;

    @include vp-1199 {
      font-size: 10px;
      line-height: 11px;
      margin-left: 3px;
      margin-top: -3px;
    }
  }

  &--position {
    p {
      position: relative;
      display: inline-block;
      padding-right: 43px;

      @include vp-1199 {
        padding-top: 3px;
        padding-right: 29px;
      }
    }
  }
}

.competition__img {
  img {
    @include vp-1199 {
      width: 386px;
    }

    @include vp-767 {
      width: 290px;
    }
  }
}
