.custom-input {
  position: relative;

  &.is-invalid {
    input {
      border-bottom: 1px solid $color-torch-red;
    }
  }

  & .input-message {
    position: absolute;
    font-size: 14px;
    left: 0;
    bottom: -22px;

    &.is-invalid {
      color: $color-torch-red;
    }
  }
}
