.gym__wrapper {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 85px;
  padding: 120px 0 235px;

  @include vp-1199 {
    justify-content: center;
    padding: 100px 0;
    gap: 35px;
  }

  @include vp-767 {
    padding: 63px 0 70px 0;
    gap: 26px;
  }
}

.gym__info {
  display: flex;
  flex-direction: column;
  width: 355px;
  padding-top: 39px;

  @include vp-1199 {
    padding: 0;
    align-items: center;
    width: 100%;
    max-width: 520px;
  }

  @include vp-767 {
    align-items: start;
    padding: 0 15px;
  }

  h2 {
    @include reset-style;

    font-family: $ff-sans-mini;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 1.44px;
    margin-bottom: 7px;

    @include vp-1199 {
      letter-spacing: 1.26px;
      font-size: 42px;
      line-height: 50.4px;
      padding-right: 16px;
      margin-bottom: -2px;

      @include vp-767 {
        line-height: 38.4px;
        letter-spacing: 0.96px;
        font-size: 32px;
        margin-bottom: 5px;
      }
    }
  }

  span {
    @include reset-style;

    font-size: 18px;
    line-height: 27px;
    margin-bottom: 39px;

    @include vp-1199 {
      margin-bottom: 34px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  p {
    @include reset-style;

    font-weight: 300;
    display: block;
    margin-bottom: 8px;

    @include vp-1199 {
      text-align: center;
    }

    @include vp-767 {
      text-align: start;
      padding-right: 30px;
    }
  }

  @include vp-1199 {
    p:last-child {
      display: none;
    }
  }
}

.gym__img {
  img {
    width: 100%;
  }
}
