.slider-btn {
  --swiper-navigation-size: 32px;
  color: $color-dark-gray;
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;

  @include vp-767 {
    width: 22px;
    height: 25px;
    border-radius: 0;
    --swiper-navigation-size: 22px;
  }

  @include hover-focus {
    border-color: $color-sapphire;
    color: $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }
}
