.social {
  @include reset-list;
  @include font-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
}

.social__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $color-default-white;
    border-radius: 50%;

    use {
      fill: $color-default-black;
    }

    svg {
      display: block;
    }

    @include hover-focus {
      outline: inherit;
      background-color: $color-egyptian-blue;

      use {
        fill: $color-default-white;
      }
    }

    @include active {
      background-color: $color-sapphire;
    }
  }
}
