.social {
  @include reset-list;
  @include font-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
}

.social__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $color-default-white;
    border-radius: 50%;

    use {
      fill: $color-default-black;
    }

    svg {
      display: block;
    }

    @include hover-focus {
      outline: inherit;

      use {
        fill: $color-default-white;
      }
    }
  }

  &--vk {
    a {
      @include hover-focus {
        background-color: $color-egyptian-blue;
      }

      @include active {
        background-color: $color-sapphire;
      }
    }
  }

  &--classmates {
    a {
      @include hover-focus {
        background-color: $color-orange-peel;
      }

      @include active {
        background-color: $color-mango-tango;
      }
    }
  }

  &--reddit {
    a {
      @include hover-focus {
        background-color: $color-orange-red;
      }

      @include active {
        background-color: $color-smoke-tree;
      }
    }
  }
}
