.stock {
  &--margin {
    margin: 135px 0 120px;

    @include vp-1199 {
      margin: 92px 0 100px;
    }

    @include vp-767 {
      margin: 63px 0 70px;
    }
  }

  h2 {
    font-family: $ff-sans-mini;
    font-size: 54px;
    font-weight: 600;
    line-height: 64.8px;
    letter-spacing: 1.62px;
    text-align: center;
    margin-bottom: 34px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.26px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 0.96px;
      margin-bottom: 44px;
    }
  }
}

.stock__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
    justify-content: center;
  }
}

.stock__coupon {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;

  @include vp-1199 {
    flex-direction: row;
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.stock__coupon-wrapper {
  border: 7px solid;
  border-image: linear-gradient(166deg, $color-crimson, $color-smalt) 1;
  padding: 28px;

  @include vp-1199 {
    width: 50%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 39px;
    padding-bottom: 39px;
    text-align: center;
  }

  span {
    display: block;
    font-size: 26px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 20px;

    @include vp-1199 {
      margin-bottom: 14px;
    }
  }

  p {
    @include reset-style;

    line-height: 10px;
    margin-bottom: 65px;

    @include vp-1199 {
      line-height: 22px;
      margin-bottom: 37px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  &--possition {
    @include vp-1199 {
      p {
        margin-bottom: 59px;
      }
    }

    @include vp-767 {
      padding: 39px 54px 39px;

      p {
        margin-bottom: 15px;
      }
    }
  }
}

.stock__presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock__presentation-text {
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 45px;
  padding-right: 46px;

  @include vp-1199 {
    padding: 45px;
  }

  @include vp-767 {
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 399px;
    padding: 45px 50px 45px 51px;
  }

  span {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 19px;
  }

  b {
    font-size: 70px;
    font-weight: 700;
    line-height: 43.68px;
    margin-bottom: 29px;

    @include vp-767 {
      margin-bottom: 27px;
    }
  }

  p {
    @include reset-style;

    font-size: 18px;
    width: 189px;
    margin-bottom: auto;

    @include vp-1199 {
      margin-bottom: 181px;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}

.stock__link {
  position: relative;
  display: block;
  width: min-content;
  border: none;
  top: 5px;
  left: -10px;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 14px;
  line-height: 8px;
  color: $color-default-white;
  text-transform: uppercase;
  padding: 10px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 20px);
    background-color: $color-default-white;
    height: 1px;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
  }

  @include vp-767 {
    left: 0;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    outline: 1px solid $color-default-white;

    &::after {
      background-color: inherit;
    }
  }

  @include active {
    opacity: 1;
    outline: none;

    &::after {
      background-color: $color-default-white;
    }
  }

  &--coupon {
    font-size: 12px;
    color: $color-resolution-blue;

    &::after {
      background-color: $color-resolution-blue;
    }

    @include focus {
      outline: 1px solid $color-resolution-blue;

      &::after {
        background-color: inherit;
      }
    }

    @include active {
      outline: none;

      &::after {
        background-color: $color-resolution-blue;
      }
    }
  }
}

.stock__presentation__img {
  img {
    @include vp-1199 {
      width: 399px;
    }
  }
}
