.video__player {
  display: none;
}

.video {
  position: relative;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
  }

  iframe {
    width: 364px;
    height: 228px;

    @include vp-1199 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 320px;
    }
  }

  &.is-active {
    .video__player {
      display: block;
    }

    .video__control {
      display: none;
    }
  }
}

.video__control {
  @include font-reset;
  @include reset-style;

  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../img/gym-video-img.webp"),
    url("../img/gym-video-img.png");
  border: none;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gym-video-img@2x.webp"),
      url("../img/gym-video-img@2x.png");
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/button-video.svg");
    background-size: cover;

    @include vp-1199 {
      width: 72px;
      height: 72px;
    }
  }

  @include hover-focus {
    &::after {
      background-image: url("../img/button-video-focus.svg");
    }
  }

  &:disabled {
    &::after {
      background-image: url("/img/button-video-disabled.svg");
    }
  }
}
